<h1>Giỏ hàng</h1>
<div class="row">
  <div class="col-8">
    <div class="container table-responsive">
      <table class="align-middle table table-bordered">
        <thead class="text-center fw-bold" style="background: #b0d5b5">
        <tr>
          <td>
            <input type="checkbox">
            <span>Tất cả (3 sản phẩm)</span>
          </td>
          <td>Đơn giá</td>
          <td>Số lượng</td>
          <td>Thành tiền</td>
          <td>Xóa</td>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
          <td style="max-width: 200px">
            <div>
              <img class=" img-fluid" width="150px"
                   src="https://salt.tikicdn.com/cache/750x750/ts/product/0c/ff/1f/091c739d2cc4c1b2a3a9c5025930adcc.jpg.webp"
                   alt="" style="float: left">
            </div>
            <div style="text-align: left">
              Không Ai Có Thể Làm Bạn Tổn Thương Trừ Khi Bạn Cho Phép
            </div>
          </td>
          <td>40000 VND</td>
          <td>
            <button class="btn btn-success">-</button>
            <button class="btn btn-outline-success">1</button>
            <button class="btn btn-success">+</button>
          </td>
          <td>40000 VND</td>
          <td>
            <button class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                   viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
        </tr>
        <tr>
          <td style="max-width: 200px">
            <div>
              <img class=" img-fluid" width="150"
                   src="https://salt.tikicdn.com/cache/750x750/ts/product/52/bc/60/7f4b9571a3119fb493a31cedb71edee9.jpg.webp"
                   alt="" style="float: left">
            </div>
            <div style="text-align: left">
              Hiểu Về Trái Tim (Tái Bản)
            </div>
          </td>
          <td>60000 VND</td>
          <td>
            <button class="btn btn-success">-</button>
            <button class="btn btn-outline-success">1</button>
            <button class="btn btn-success">+</button>
          </td>
          <td>60000 VND</td>
          <td>
            <button class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                   viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
        </tr>
        <tr>
          <td style="max-width: 200px">
            <div>
              <img class=" img-fluid" width="150"
                   src="https://salt.tikicdn.com/cache/750x750/ts/product/21/1a/5c/e9ac4b066c05e8b4fb98b03df7feabe2.png.webp"
                   alt="" style="float: left">
            </div>
            <div style="text-align: left">
              Làm Chủ Tuổi 20 (Phiên bản mới) - Dành cho độc giả từ 16-30
            </div>
          </td>
          <td>50000 VND</td>
          <td>
            <button class="btn btn-success">-</button>
            <button class="btn btn-outline-success">1</button>
            <button class="btn btn-success">+</button>
          </td>
          <td>50000 VND</td>
          <td>
            <button class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                   viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
        </tr>
        <tr>
          <td style="max-width: 200px">
            <div>
              <img class=" img-fluid" width="150"
                   src="https://salt.tikicdn.com/cache/750x750/ts/product/90/49/97/ec88ab408c1997378344486c94dbac40.jpg.webp"                         alt="" style="float: left">
            </div>
            <div style="text-align: left">
              Thao Túng Tâm Lý
            </div>
          </td>
          <td>20000 VND</td>
          <td>
            <button class="btn btn-success">-</button>
            <button class="btn btn-outline-success">1</button>
            <button class="btn btn-success">+</button>
          </td>
          <td>20000 VND</td>
          <td>
            <button class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                   viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
        </tr>
        <tr>
          <td style="max-width: 200px">
            <div>
              <img class=" img-fluid" width="150"
                   src="https://salt.tikicdn.com/cache/750x750/ts/product/54/c8/f8/852db0cf479b5761b8be1fd4dd2df043.jpg.webp"
                   alt="" style="float: left">
            </div>
            <div style="text-align: left">
              Không Giới Hạn - Khám Phá HO'OPONOPONO

            </div>
          </td>
          <td>15000 VND</td>
          <td>
            <button class="btn btn-success">-</button>
            <button class="btn btn-outline-success">1</button>
            <button class="btn btn-success">+</button>
          </td>
          <td>15000 VND</td>
          <td>
            <button class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                   viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header" style="background: #b0d5b5">
        Thanh toán
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4>Giao tới</h4>
            <h5>Nguyễn Trần Thảo Nhiên | 0868279412</h5>
            <p>Xã Cam Chính, Huyện Cam Lộ, Quảng Trị</p>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span>Tạm tính</span>
              <span>123.220đ</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Giảm giá</span>
              <span>0đ</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <span>Tổng tiền</span>
              <span style="font-size: 24px; color: rgb(255,66,78);">123.220đ</span>
            </div>
            <a href="#" class="mt-2 btn w-100" style="background: rgb(255,66,78); color: white">Mua hàng</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
